<div class="jumbotron">
<div class="container">
  
  <div class="row">
    <h1>My Pinterest app!</h1>
    <p>Página de prueba</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">About us!</a></p>  
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a href="http://en1mes.com" target="_blank"> En1mes en otra página </a>
      <p class="titulos"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>

    <div class="col-md-4">
      <h2> Subtítulos </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    
    <div class="col-md-4">
      <h3> Sub subtítulo </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h6>sub ... subtítulo </h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <a href="http://en1mes.com">
        <img src="http://www.en1mes.com/assets/logo.png" alt="logo de en 1 mes">
      </a>

      <hr>
      <br>

      <img src="http://smartercharger.com/wp-content/uploads/2013/03/auto-dealer-1.jpg" class="img-responsive">

      <ol>
        <li> Item 1</li>
        <li> Item 2</li>
        <li> Item 3</li>
      </ol>

    </div>
  </div>
</div>

Volver